img{
    display: flex;
    justify-items: center;
    height: 80vh;
    width: 100%;
    /* margin-left: 50px;
    width: 150px;
    border-radius: 100px;
    margin-bottom:50px ; */
}

.header{
    display: flex;
    justify-content: space-around;
}

.description{
    margin-left: 25px;
}

hr{
    margin-left: 50px;
    margin-right:51px;
}
.header_name{
    display: block;
    font-family: proxima-nova;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}
.profile_options_left{
    display: flex;
    justify-content: space-around;
    writing-mode:vertical-rl;
}

.profile_options_right{
    display: flex;
    justify-content:space-around;
    writing-mode:vertical-lr;
}